<div
	class="panel-screen main-text"
	style="top: 60%">
    <h1
        style="margin: 0; font-size: 30px;">
        Sobre o projeto
	</h1>
	<h3
		style="font-size: 25px;">
		Do ponto de vista técnico
	</h3>
    <p
		style="font-size: 18px; text-align: justify;">
			Após a decisão em conjunto dos alunos com o professor, foi identificado que a melhor distribuição para utilizar como base seria o Debian. 
			Tanto devido à experiência do professor em desenvolvimento de distribuições Debian com seu próprio OS, o Educatux, que foi usado como base para o desenvolvimento do CEUB OS.
			Como também por ser uma distribuição que não possui muitas modifcações originalmente, e permitir que seja customizada da maneira que desejarmos.
			Além de poder ser utilizada para diversas tarefas, das mais simples as mais complexas.
			<br />
			<br />
			Para início do projeto, foi montada pelo Professor Aderbal Botelho em conjunto com o aluno Francisco Pena uma rede em nuvem, que permitiria que mesmo alunos com equipamentos menos 
			potentes pudessem gerar suas ISOs para prosseguir com o projeto. A estrutura montada funciona de forma que ao ser feito um push do projeto no GitHub, 
			é iniciado o processo de build no Jenkins que irá utilizar uma das máquinas, ou nós como chamamos, para gerar a ISO e fazer o upload desta para o sourceforge. Permitindo o download e teste
			pelo aluno.
	</p>
	<h3
		style="font-size: 25px;">
		Do ponto de vista pedagógico
	</h3>
    <p
        style="font-size: 18px; text-align: justify;">
		É de conhecimento dos pedagogos que a melhor forma de aprender determinado assunto, é colocando as habilidade adquiridas em prática, e foi isso que o Professor Aderbal tinha em mente quando decidiu dar início ao projeto.
		Apesar de outros professores não apresentarem muita confiança no sucesso do projeto, decidimos seguir em frente e tentar realizar o projeto da melhor forma possível.
		<br />
		<br />
		Muitas foram as vezes em que o desânimo tomou conta, porém com palavras de ânimo e trabalho em equipe fomos capazes de nos reorganizar e prosseguir com o projeto. Estes momentos serviram de inspiração,
		pois se até mesmo após dificuldades fomos capazes de prosseguir.
		<br />
		<br />
		Porém, o projeto não deve encerrar nesse semetre, este é apenas o pontapé inicial, os planos do professor são de que os próximos semestres da disciplina de Sistemas Operacionas possa realizar iterações
		com base no que foi desenvolvido nesse primeiro semestre. Sempre em busca da inovação, é como foi discutido em uma aula, não existe inovação sem excelência. Então que possamos sempre buscar a excelência
		naquilo que fazemos, pois é o dever dos acadêmicos da área de computação, realizar inovações, sejam elas grandes ou pequenas, mas que possam sempre ter como objetivo um mundo melhor.
		<br />
		<br />
		Caso deseje saber mais sobre projeto, basta acessar nosso 
		<a
			href="https://github.com/ceubos"
			target="blank_">
			GitHub
		</a>
		.
	</p>
</div>