<div
    class="panel-screen main-text">
    <h1
        style="margin: 0;">
        CEUB OS
    </h1>
    <h6
        style="margin: 0;">
        Nos ensinem a ter liberdade novamente.
    </h6>
    <p>
        O CEUB OS é uma distribuição Linux baseada em Debian desenvolvida pelos alunos do curso de ciência da computação, sob a supervisão do professor Aderbal Botelho.
    </p>
    <p
        style="font-size: 25px;">
        Insipirados pelo lema "Nos ensinem a ter liberdade novamente" a distribuição foi desenvolvida com o intuito de auxiliar alunos e professores e fornecer
        ferramentas para auxiliar na execução de tarefas comuns em um ambiente de ensino de forma à evitar o uso de aplicações proprietárias e dando preferência ao uso de software livre.
    </p>
</div>
<div
  class="footer">
  <a
      href="https://www.instagram.com/ceub.os/"
      target="blank_"
      style="padding-right: 50px;">
      Instagram
  </a>
  <a
      href="https://twitter.com/ceuboss"
      target="blank_">
      Twitter
  </a>
</div>