<div
    class="statistics-screen main-text">
    <h1
        style="font-size: 25px;">
        Estatísticas do Projeto
    </h1>
    <p
		style="font-size: 18px; text-align: justify;">
            O projeto do CEUB OS engloba diversas disciplinas ministradas pelo Professor Aderbal, porém para cada item da ementa das disciplinas existe um percentual que pode ser aproveitado por meio
            do CEUB OS. Segue abaixo, gráficos indicando quanto cada matéria pode aproveitar do projeto.
    </p>
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Sistema em Tempo Real e Embarcados"
        src="../../assets/img/grafico-sistemas-tempo-real.png" />
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Sistemas Operacionais"
        src="../../assets/img/grafico-sistemas-operacionais.png" />
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Desenvolvimento Web"
        src="../../assets/img/grafico-desenvolvimento-web.png" />
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Arquitetura de Sistemas Distribuídos"
        src="../../assets/img/grafico-arquitetura-sistemas-distribuidos.png" />
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Paradigmas das linguagens da programação"
        src="../../assets/img/grafico-paradigmas-linguagens-programacao.png" />
    <img
        height="230"
        width="950"
        alt="Aproveitamento na disciplina de Interação Humano Computador"
        src="../../assets/img/grafico-interacao-humano-computador.png" />
    <p
		style="font-size: 18px; text-align: justify;">
            Foi estimado pelo professor que até o dia 04/10/2020 apenas para a disciplina de Sistemas Operacionais cada aluno havia em média, produzido 640 horas de trabalho prático, tendo em vista que
            é uma disciplina de 60h houve um aproveitamento mais de 10x maior do que caso estivessemos limitados apenas às aulas ministradas semanalmente.
    </p>
</div>
